* text=auto

*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.wgsl text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
